<!--
  @description       : 
  @author            : Hemdene Ben Hammouda
  @group             : 
  @last modified on  : 08-23-2022
  @last modified by  : Hemdene Ben Hammouda
-->
<template>
    <lightning-card>
        <lightning-input
            type="number"
            label="Number of Employees"
            value={numberOfEmployees}
            onchange={handleChange}>
        </lightning-input>
        <lightning-button
            label="Reset"
            onclick={reset}>
        </lightning-button>
        <template if:true={accounts.data}>
            <template for:each={accounts.data} for:item="account">
                 <p key={account.Id}>{account.Name}</p>
            </template>
        </template> 
    </lightning-card>
  </template>